.hero-slide-content {
    @include max-screen(768, 1199) {
        padding-top: 50px;
    }
}

.hero-slider {
    position: relative;
    padding-top: 160px;
    overflow: hidden;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: flex-start;

    .title {
        animation-name: fadeInUp;
        animation-delay: 0.9s;
    }

    .delay1 {
        animation-name: fadeInUp;
        animation-delay: 1.5s;
    }
    .delay2 {
        animation-name: fadeInUp;
        animation-delay: 2s;
    }
    .hero-img {
        img {
            animation-name: fadeInLeft;
            animation-delay: 2.5s;
        }
    }
}

.hero-slide-content {
    .title {
        font-weight: 700;
        font-size: 55px;
        @include min-screen(1500) {
            font-size: 60px;
        }
        @include max-screen(992, 1199) {
            font-size: 45px;
        }
        @include max-screen(767) {
            font-size: 35px;
            line-height: 1.4;
        }
        @include max-screen(480) {
            font-size: 30px;
        }
        @include max-screen(576, 767) {
            font-size: 45px;
        }
        line-height: 1.2;
        margin-bottom: 3.75rem;
    }
}
.hero-img {
    @include min-screen(1200) {
        position: absolute;
        bottom: 0px;
        right: 0;
    }
    max-width: 904px;
    @include max-screen(1200, 1499) {
        max-width: 700px;
    }

    @include max-screen(1500, 1800) {
        max-width: 48%;
    }
}

.negative-margin {
    @include min-screen(1200) {
        margin-top: 100px;
    }
}

.hero-shape1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include min-screen(1500) {
        max-width: 1007px;
    }
    @include min-screen(1200) {
        max-width: 55%;
    }
}
.hero-shape2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 878px;

    @include max-screen(1500, 1800) {
        max-width: 735px;
    }

    @include max-screen(1499) {
        max-width: 735px;
    }

    @include max-screen(1199) {
        display: none;
    }

    @include max-screen(1199) {
        top: auto;
        bottom: 0;
    }
}
// Search Bar css

.w-90 {
    width: 90%;
}
.mainSearchBarMainDiv{
  width: 100%;
  max-width: 500px;
  border: 1px solid #000;
  border-radius: 100px;
  background-color: #fff;
  position: relative;
}
.mainSearchBar {
    width: 85%;
    border: none;
    padding: 0.5em;
    font-size: 17px;
    font-weight: bold;
    border-radius: 100px;
}
.mainSearchBarSuggestionDiv{
  position: absolute;
  background-color: #ffffff;
  z-index: 99;
  width: 100%;
  height: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0.5em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainSearchBarSuggestionSpan{
  font-size: 20px;
  width: 100%;
  padding:0.5em;
  cursor: pointer;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:0.1px solid rgba(0, 0, 0, 0.158);
}
// Bookmark css
.BookamarkButton{
  width: 7em;
  height: 7em;
  margin: 1em;
  position: relative;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.6s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  padding: 1em;
}
.BookamarkButton:hover{
  transition: 0.6s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bookmarkEditBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 100px;
  z-index: 999;
  color: #000;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  transition: 0.6s ease-in-out;
  border: none;
}
.bookmarkEditBtn:hover{
background-color:#198785;
color: #fff!important;
}
.AddNewBookmark{
  background-color: #fff;
  border: none;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.inputBookmarkPreviewImg{
  width: 5em;
  height: 5em;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.inputBookmarkInput{
  border: 1px solid rgba(0, 0, 0, 0.156);
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.ButtonActionBookmark{
  display: flex;
  padding: 0.5em;
align-items: center;
justify-content: space-evenly;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bookmarkImage{
    border-radius: 5px;
}